* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 20px;
  min-height: 100vh;
  background: #000;
}

#container {
  border: 1px solid #111;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  #container {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  #container {
    width: 60%;
  }
}

canvas {
  background-color: rgba(163, 16, 16, 0.3);
  display: block;
}

#info {
  color: white;
  display: flex;
  margin-bottom: 10px;
  width: 610px;
  justify-content: space-between;
}

.box {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}

.buttons {
  width: 400px;
  text-align: center;
  margin-top: 10px;
}

#go {
  background: greenyellow;
}
#stop {
  background: red;
}

#console {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "VT323", monospace;
  width: 140px;
  color: white;
  text-align: center;
  background: #111;
  font-size: 19px;
  padding: 0 20px;
}

.hl {
  color: black;
  background: yellow;
}
