* {
  margin: 0;
  padding: 0;
}

html {
  color: #eee;
  padding: 20px;
  min-height: 100vh;
  background: #000;
}

header {
  text-align: center;
  padding: 40px;
  line-height: 40px;
}

#expl {
  text-align: center;
  line-height: 20px;
}

#formula {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.divide {
  text-align: center;
}

#stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ranges {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  #container {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  #container {
    width: 60%;
  }
}

canvas {
  border: 1px dotted rgb(153, 153, 153);
  background-color: rgba(0, 29, 92, 0.089);
  display: block;
}

#info {
  margin-top: 100px;
  color: white;
  display: flex;
  margin-bottom: 10px;
  width: 610px;
  justify-content: space-between;
}

.box {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}

.buttons {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  margin-top: 10px;
}

#go {
  background: greenyellow;
}
#stop {
  background: red;
}

#console {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "VT323", monospace;
  width: 140px;
  color: white;
  text-align: center;
  background: #111;
  font-size: 19px;
  padding: 0 20px;
}

.hl {
  color: black;
  background: yellow;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
