* {
  margin: 0;
  padding: 0;
}

body {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.opac {
  color: rgb(160, 160, 160);
  padding: 20px;
  min-height: 100vh;
  background-color: rgba(0, 5, 31, 0.96);
}

header {
  text-align: center;
  padding: 40px;
  line-height: 40px;
}

#expl {
  text-align: center;
  line-height: 20px;
  width: 70%;
  margin: 0 auto;
}

#formula {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.divide {
  text-align: center;
}

#stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.ranges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color {
  display: flex;
  align-items: center;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none !important;
  width: 32px;
  height: 32px;
  margin: 8px 5px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

#container {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  #container {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  #container {
    width: 60%;
  }
}

canvas {
  border: 1px dotted rgb(153, 153, 153);
  background-color: rgba(0, 29, 92, 0.089);
  display: block;
}

#info {
  margin-top: 100px;
  color: white;
  display: flex;
  margin-bottom: 10px;
  width: 610px;
  justify-content: space-between;
}

.pi {
  font-size: 25px;
}
.box {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}

.buttons {
  text-align: center;
  margin: 10px 0;
}

#go {
  background: greenyellow;
}
#stop {
  background: red;
}

#console {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "VT323", monospace;
  width: 140px;
  color: white;
  text-align: center;
  background: #111;
  font-size: 19px;
  padding: 0 20px;
}

.hl {
  color: black;
  background: yellow;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
